RewriteEngine On

RewriteBase /rest_api_person/

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

# if the requested resource not exists, use index.php
RewriteRule ^ public/index.php